<% content_for :search_metas do %>
  <!-- General meta info + SEO -->
  <title><%= book_component.name %></title>
  <meta name="description" content="<%= book_component.description %>" />
  <% content_for :canonical_link, link_to('', book_component, rel: 'canonical') %>
<% end %>
