<%= render 'metas', book_component: @book_component %>

<h1><%= @book_component.name %></h1>

<p><%= raw @book_component.body %></p>

<%= render 'books/table_of_contents', book: @book_component.book %>
